doctype html
html(lang="ko")
  head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title Focus
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    link(rel='stylesheet', href='/page.css')
    link(rel='stylesheet', href='/fontello/css/fontello.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
  body
    - var name = dpname
    article
      block content
    .control
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/list') List
          li
            a(href='/genre') Genre
//          if !name
//            li
//              a(href='/auth/register') Register
//            li
//              a(href='/auth/login') Login
//          else
//            li #{name}
//            li a(href='/auth/logout') Logout
      ol.player
        li
          a.play.icon-play-circled2(href='#paly')
            span Play
        li
          a.pause.icon-pause(href='#stop')
            span Pause
    script(src='/page.js')
