extends layout
block content
  .content
    div(id='login')
      form(action='/auth/login' method='post')
        p
          input(type='text' placeholder='username' name='username')
        p
          input(type='password' placeholder='Password' name='password')
        p
          input(type='submit')
