@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400');
*{
    box-sizing: border-box;
}
body{
    //background-image:url(https://source.unsplash.com/category/nature/1600x900);
    //background-size:cover;
    min-height:100vh;
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    background-color: rgba(245, 245, 245, 0.7);
}
article{
    //background-color: white;
    //color: black;
    max-width:100%;
    //position: fixed;
    //top:15%;
    margin-top: 4.5rem;
    width:100%;
    //transform: translateY(-50%);
    font-size: 1rem;
    //padding:1.2rem;
    font-weight: 200;
}
article .section1{
    background-color: rgba(255, 255, 255, 0.7);
    height: 85vh;
    text-align: center;
    background-image: url('rory-hennessey.jpg');
    background-size:cover;
}
article .section2{
    //background-color: rgba(245, 245, 245, 0.7);
    height: 85vh;
    text-align: center;
}
article .section3{
    //background-color: rgba(245, 245, 245, 0.7);
    height: 85vh;
    text-align: center;
}
article #register{
    //background-color: rgba(245, 245, 245, 0.7);
    height: 100vh;
    text-align: center;
}
article #login{
  background-color: rgba(245, 245, 245, 0.7);
  height: 100vh;
  text-align: center;
}
article #list{
  background-color: rgba(245, 245, 245, 0.7);
  height: 100vh;
  text-align: center;
}
.control{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height:2.7rem;
    padding:0.3rem 1rem;
    text-align: center;
}
.control ul{
    list-style: none;
    padding-left:0;
}
.control li{
    display: inline-block;
    padding:0 0.5rem;
}
.control a{
    color:white;
    text-decoration: none;
}
.control>*{
    display: inline-block;
}
.control .player{
    position: absolute;
    right: 1rem;
}
.control .player a:hover{
    color: red;
}
.control .player a{
    font-size: 1.2rem;
}
.control .player a>span{
    display: none;
}
